<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Tabs</title>
    <meta name="description" content="This is a free and simple tool that lets you share tabs and URLs with others in real-time.">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="manifest" href="site.webmanifest" />
</head>
<body>
  <span class="extension" ><svg xmlns="http://www.w3.org/2000/svg" class="unfilled-svg" viewBox="0 0 24 24" width="20px" height="20px"><path d="M 11 1 C 9.3550302 1 8 2.3550302 8 4 L 4 4 C 2.9069372 4 2 4.9069372 2 6 L 2 12 L 4 12 C 4.5650302 12 5 12.43497 5 13 C 5 13.56503 4.5650302 14 4 14 L 2 14 L 2 20 C 2 21.093063 2.9069372 22 4 22 L 10 22 L 10 20 C 10 19.43497 10.43497 19 11 19 C 11.56503 19 12 19.43497 12 20 L 12 22 L 18 22 C 19.093063 22 20 21.093063 20 20 L 20 16 C 21.64497 16 23 14.64497 23 13 C 23 11.35503 21.64497 10 20 10 L 20 6 C 20 4.9069372 19.093063 4 18 4 L 14 4 C 14 2.3550302 12.64497 1 11 1 z M 11 3 C 11.56503 3 12 3.4349698 12 4 L 12 6 L 18 6 L 18 12 L 20 12 C 20.56503 12 21 12.43497 21 13 C 21 13.56503 20.56503 14 20 14 L 18 14 L 18 20 L 14 20 C 14 18.35503 12.64497 17 11 17 C 9.3550302 17 8 18.35503 8 20 L 4 20 L 4 16 C 5.6449698 16 7 14.64497 7 13 C 7 11.35503 5.6449698 10 4 10 L 4 6 L 10 6 L 10 4 C 10 3.4349698 10.43497 3 11 3 z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" class="filled-svg"  viewBox="0 0 24 24" width="20px" height="20px">    <path d="M 11.5 0 C 10.119 0 9 1.119 9 2.5 L 9 4 L 5 4 C 3.895 4 3 4.895 3 6 L 3 9 C 3 9.552 3.448 10 4 10 L 4.3574219 10 C 5.6654219 10 6.8553281 10.941188 6.9863281 12.242188 C 7.1363281 13.739187 5.966 15 4.5 15 L 4 15 C 3.448 15 3 15.448 3 16 L 3 19 C 3 20.105 3.895 21 5 21 L 8 21 C 8.552 21 9 20.552 9 20 L 9 19.642578 C 9 18.334578 9.9411875 17.144672 11.242188 17.013672 C 12.739187 16.863672 14 18.034 14 19.5 L 14 20 C 14 20.552 14.448 21 15 21 L 18 21 C 19.105 21 20 20.105 20 19 L 20 15 L 21.5 15 C 22.881 15 24 13.881 24 12.5 C 24 11.119 22.881 10 21.5 10 L 20 10 L 20 6 C 20 4.895 19.105 4 18 4 L 14 4 L 14 2.5 C 14 1.119 12.881 0 11.5 0 z"/></svg>
  </span>
    <div class="container" style="position: relative;" >
    
        <div style="position: relative;  -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none;" class="d-flex justify-content-center align-items-center mt-2">
        
            <div class="input-group search" >
  <input type="text" placeholder="Search Title or URL" class="form-control searchinput" aria-label="Dollar amount (with dot and two decimal places)">
  <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg></span>
  
</div>
            <h2 class="text-center m-3 gradient-text" style="letter-spacing:1px;font-family: 'Raleway', sans-serif;
            font-weight: 500;font-size:1.8em;"><img src="64.png" class="mb-1" style="max-width: 1.1em;margin-right:0.5em"><span class="heading">Share Ta</span>bs</h2>
        <div class="alltabs">
          <div class="dropmenu"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg></div>
          <p class="btn btn-sm btn-secondary opentabs" style="font-size:0.8em;font-weight: 600;">Open All Tabs<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2 bi bi-arrow-up-right-circle-fill" viewBox="0 0 16 16">
            <path d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707l-4.096 4.096z"/>
          </svg></p>
        </div>
      </div>


      <div class="card mb-3 bg-secondary mainmenu hide" style="position: relative;" >
 
        <div class="row g-0">
    
         
      
    
            <div class="col-12 mb-0 pb-0">
              <form action="/add" method="POST">
              <div class="card-body d-flex justify-content-center align-items-center">
              
                  <input type="text" name="urls" class="form-control me-4" placeholder="Enter Url To Save " style="max-width:40em;border-radius: 0px;">
                  <button class="btn btn-success">Add <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus mb-1" viewBox="0 0 16 16">
                    <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                    <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                  </svg></button>
                  
              </div>
              <div class="d-flex justify-content-starts align-items-center ms-3" >
              <small class="form-text text-light" style="font-size:0.6em">*Add Empty Space between Each Url to Add multiple Urls At once</small></div>
            </form>
              </div>
              <div class="col-12 mb-0 pb-0">
                <div class="card-body d-flex justify-content-center align-items-center"><a href="/removeall" style="text-decoration: none;">
                  <span class="btn btn-danger px-4 d-flex justify-content-center align-items-center">Remove All Tabs <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2-fill ms-2" viewBox="0 0 16 16">
                    <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                  </svg></span>
                </a>
                </div>
                </div>
    
    
               </div>
    
                </div>
      
<% if(tabs.length==0){ %>

  <div class="alert alert-secondary mt-5 mt-md-4 text-center" role="alert">
    No tabs Has been Found!
  </div>

  <% } %>
  
 

      <% tabs.forEach(function(tab){ %>

     
        <div class="card mb-3" style="position: relative;" >
          <% if(tab.pin){  %>
           
              <svg style="position:absolute;right:-0.7em;top:-0.5em" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle-fill text-dark" viewBox="0 0 16 16">
                <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146z"/>
              </svg>
             <% } %>
         
            <div class="row g-0">

              
              <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                <img src="<%= tab.icon.trim() %>" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-10 col-md-11">
                <div class="card-body row">
                    <div class="col-md-10 " style="position: relative;">
                      <h5 class="card-title"><%- tab.title %></h5>
                      <p class="card-text lead allurl" style="font-size:1em"><span><%= tab.url %></span></p>
                       <span class="text-muted time" ><%= tab.createdAt %></span>
                    </div>
                 
                <div class="col-md-2 mt-md-2 " style="position: relative;">
 <p class="card-text"><a class="url" href="<%= tab.url %>" target="_blank" style="text-decoration: none;color:white"><span class="btn btn-sm btn-primary">Open in New Tab</span></a>
  <div class="dropdown  dropstart">
  <span class="menu "  data-bs-toggle="dropdown" aria-expanded="false">
  
    <svg style="display: block;
    margin: auto;" xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-three-dots d-none d-md-block" viewBox="0 0 16 16">
      <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
    </svg>
    <svg style="display: block;
    margin: auto;" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-three-dots-vertical d-block d-md-none" viewBox="0 0 16 16">
      <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
    </svg>
   
  </span>
 
  <ul class="dropdown-menu dropdown-menu-dark text-center" >
   
    <li><a class="dropdown-item  <% if(!tab.pin){  %>
      text-warning
      <% }else{ %>
        text-primary
       <% } %>  d-flex justify-content-between align-items-center pin " style="font-weight:600"  href="pin/<%= tab.id %>"><span></span>
     <% if(!tab.pin){  %>
     Pin to Top
     <% }else{ %>
      Unpin
      <% } %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle-fill" viewBox="0 0 16 16">
      <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146z"/>
    </svg></a>
  
  
  </li>
  <li><a style="font-weight:600" class="dropdown-item d-flex justify-content-between align-items-center text-danger remove" href="remove/<%= tab.id %>"><span></span>Remove<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="ms-1 bi bi-trash2-fill" viewBox="0 0 16 16">
    <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
  </svg></a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item text-success close" style="font-weight:600"  href="#">Close</a></li>
  </ul>
  </div>
</p>
                </div>
                </div>
              </div>
            </div>
          </div>

       

        <% }) %>
      
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      
      <script src="scripts/main.js"></script>
      <script>
        if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
    navigator.serviceWorker.register('/sw.js').then(function(registration) {
      // Registration was successful
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }, function(err) {
      // registration failed :(
      console.log('ServiceWorker registration failed: ', err);
    });
  });
}

        </script>
</body>
</html>